@lucas-oil:registry=https://registry.figma.com/npm/5320a009-3345-4176-9c11-34de1f9f03ea/registry/
@make-kits:registry=https://registry.figma.com/npm/5320a009-3345-4176-9c11-34de1f9f03ea/registry/
//registry.figma.com/npm/5320a009-3345-4176-9c11-34de1f9f03ea/registry/:_authToken=figp_zNzSH5kCdkCiZpi280DDkuyV6gfURtwhCFnGSdsk
